.wrapper {
    // background-color: var(--primary);
    display: inline-flex;
    font-size: 1.6rem;
    font-weight: 600;
    justify-content: center;
    text-align: center;
    border-radius: 4px;
    min-width: 100px;
    padding: 9px 16px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid transparent;
    user-select: none;
    + .wrapper {
        margin-left: 8px;
    }
    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}
.title + .icon,
.icon + .title {
    margin-left: 4px;
}
.rounded {
    border-radius: 999px;
    border: 1px solid #ccc;
    cursor: pointer;
    box-shadow: 0px 2px 8px #cccccc8e;
    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(22, 24, 35, 0.03);
    }
}
.primary {
    background-color: var(--primary);
    color: #fff;
    border-color: (--primary);
    &:hover {
        border-color: (--primary);
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), rgb(254, 44, 85);
    }
}
.outline {
    border-color: var(--primary);
    color: var(--primary);
    &:hover {
        border-color: var(--primary);

        background-color: rgba(254, 44, 85, 0.06);
    }
}

.text {
    &:hover {
        text-decoration: underline;
    }
}

// Button size
.small {
    min-width: 88px;
    padding: 14px 16px;
}
.large {
    min-width: 140px;
}
