.wrapper {
    display: flex;
    align-items: center;
    padding: 6px 14px;
    cursor: pointer;
    &:hover{
        background-color: rgba(23, 24, 25, 0.03);
    }
}
.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.info {
    flex: 1;
    margin-left: 12px;
}
.name {
    margin: 0;
    color: #161823;
    font-size: 1.6rem;
    font-weight: 600;
}
.username {
    font-size: 1.4rem;
    color: rgba(22, 24, 35, 0.5);
}
.check-icon {
    margin-left: 4px;
    color: rgb(32, 213, 236);
    font-size: 1.2rem;
}
